[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = http://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-mql4"]
	path = bundle/vim-mql4
	url = git@github.com:vobornik/vim-mql4.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = git@github.com:drmingdrmer/xptemplate.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/riv"]
	path = bundle/riv
	url = git@github.com:Rykka/riv.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
